main{
    text-align: center;
    width: 30%;
    border: solid 3px;
    margin-top: 3rem;
    margin-bottom: 3rem;
    border-radius: 8px;
    padding: 15px;
}
body{
    background-image: url('./img/day.jpg');
    background-size: cover;
    height: 120vh;
}
*{
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}
h1{
    font-size: 2rem;
}
h4{
    font-size: 1.4rem;
}
.daytime{
    background-image: url('./img/day.jpg');
    background-size: cover; 
}
.nightTime{
    background-image: url('./img/night.jpg');
    background-size: cover;
}
.whiteText{
    color: white;
    border-color: white;
}
div#banner {
    display: grid;
    grid-template-columns: repeat(1fr, 3);
    grid-template-areas: ". search .";
    background-color: rgba(255, 68, 0, 0.795);
    height: 13vh;
}

div#search {
    grid-area: search;
    display: flex;
}

div#search > input {
    width: 30vw;
}
div#search > button {
    width: 8vw;
}
div#search > input, button {
    border: none;
    line-height: 2rem;
    border-radius: 3px;
}

footer{
    position: absolute;
    bottom: -55vh;
    width: 100vw;
    background-color: rgba(245, 245, 220, 0.767);
}
